@use './variables.scss' as v;

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button {
    @include v.display-xsmall;
    font-size: 20px;
    font-weight: 700;
    padding: .2em .8em;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
    background: v.$content-primary;
    color: white;
    cursor: pointer;
}

input[type="text"], 
input[type="password"] {
    font-family: 'Roboto';
    font-size: v.px(18);
    border: 1px solid rgba(0,0,0,.1);
    outline: none;
    display: block;
    margin-bottom: 1em;
    padding: .4em;
    border-radius: 3px;
    width: 100%;
}

label {
    div {
        @include v.label-xsmall;
    }
}


h1 { @include v.display-large; }
h2 { @include v.display-medium; }
h3 { @include v.display-small; }
h4 { @include v.display-xsmall; }

* {
    box-sizing: border-box;
    color: v.$black;
}