@use "sass:map";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


$black: #171c1c;

$neutral: (
    1: #fafafa,
    2: #f0f0f0
);

$content-primary: $black;

$px: (
    2: 2px,
    4: 4px,
    6: 6px,
    8: 8px,
    10: 10px,
    12: 10px,
    14: 14px,
    16: 16px,
    18: 18px,
    20: 20px,

    24: 24px,
    32: 32px,
    40: 40px,
    48: 48px,
    56: 56px,
    64: 64px,
    72: 72px,

    96: 96px,
    128: 128px,
    192: 192px
);

@function neutral($num) {
    $color: map.get($neutral, $num);
    @if $color == null { @error "Bad color key"; }
    @return $color;
}

@function px($num) {
    $size: map.get($px, $num);
    @if $size == null { @error "Bad px value"; }
    @return $size;
}

@mixin display-font {
    font-family: 'Open Sans';
    font-weight: 800;
}

@mixin primary-font {
    font-family: 'Roboto';
    font-weight: 300;
}

@mixin display-large {
    @include display-font;
    font-size: px(96);
}

@mixin display-medium {
    @include display-font;
    font-size: px(72);
}

@mixin display-small {
    @include display-font;
    font-size: px(56);
}

@mixin display-xsmall {
    @include display-font;
    font-size: px(40);
}

@mixin label-xsmall {
    @include primary-font;
    font-size: px(14);
}