/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/pages/auth/index.module.scss ***!
  \****************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap);
/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/pages/auth/index.module.scss (1) ***!
  \********************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/styles/global.scss ***!
  \******************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap);
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/styles/global.scss (1) ***!
  \**********************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/pages/auth/index.module.scss (2) ***!
  \********************************************************************************************************************************************/
.zuCVcC1JTdhBMfwDtxys {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zuCVcC1JTdhBMfwDtxys h4 {
  margin-bottom: 24px;
}

.SZ37X796AzaYZYuGeicj {
  padding-top: 10px;
}

.zpUWad7FkV8Ams4pfIpw {
  padding: 40px;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #171c1c;
  border-radius: 10px;
  width: 400px;
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/styles/global.scss (2) ***!
  \**********************************************************************************************************************************/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

button,
input[type=submit] {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 40px;
  font-size: 20px;
  font-weight: 700;
  padding: 0.2em 0.8em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #171c1c;
  color: white;
  cursor: pointer;
}

input[type=text],
input[type=password] {
  font-family: "Roboto";
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  display: block;
  margin-bottom: 1em;
  padding: 0.4em;
  border-radius: 3px;
  width: 100%;
}

label div {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
}

h1 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 96px;
}

h2 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 72px;
}

h3 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 56px;
}

h4 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 40px;
}

* {
  box-sizing: border-box;
  color: #171c1c;
}
