/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/src/pages/login/index.module.scss ***!
  \*****************************************************************************************************************************************/
.rz8qcVWtsezHwFY5bpvu input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 14px;
  height: 20px;
}
