@use '../../styles/variables.scss' as v;

.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
        margin-bottom: v.px(24)
    }
}

.button-panel {
    padding-top: v.px(10)
}

.container {
    padding: v.px(40);
    max-height: 100%;
    max-width: 100%;
    border: 1px solid v.$black;
    border-radius: 10px;  
    width: 400px;
}
