@use '../../styles/variables.scss' as v;

.dd-button-main {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    background: none;
    outline: none;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 12px;
    @include v.label-medium;
}